<a href="https://colab.research.google.com/github/Satyam7332772/ppt-programme/blob/main/Assignment_Questions_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#ans1
def find_common_elements(arr1, arr2, arr3):
    p1, p2, p3 = 0, 0, 0
    result = []

    while p1 < len(arr1) and p2 < len(arr2) and p3 < len(arr3):
        if arr1[p1] == arr2[p2] == arr3[p3]:
            result.append(arr1[p1])
            p1 += 1
            p2 += 1
            p3 += 1
        elif arr1[p1] < arr2[p2] or arr1[p1] < arr3[p3]:
            p1 += 1
        elif arr2[p2] < arr1[p1] or arr2[p2] < arr3[p3]:
            p2 += 1
        elif arr3[p3] < arr1[p1] or arr3[p3] < arr2[p2]:
            p3 += 1

    return result

#Example
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]

print(find_common_elements(arr1, arr2, arr3))

[1, 5]

In [2]:
#ans2
def find_disjoint_elements(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)
    
    result1 = [num for num in nums1 if num not in set2]
    result2 = [num for num in nums2 if num not in set1]
    
    return [result1, result2]

#Example
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

print(find_disjoint_elements(nums1, nums2))

[[1, 3], [4, 6]]

In [3]:
#ans3
def transpose(matrix):
    rows = len(matrix)
    cols = len(matrix[0])

    result = [[0] * rows for _ in range(cols)]

    for i in range(rows):
        for j in range(cols):
            result[j][i] = matrix[i][j]

    return result

In [4]:
#ans4
def array_pair_sum(nums):
    nums.sort()
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += nums[i]

    return max_sum
#Example
nums = [1, 4, 3, 2]

print(array_pair_sum(nums))

4

In [5]:
#ans5
def arrange_coins(n):
    rows = 0
    coins = 0

    while coins <= n:
        rows += 1
        coins += rows

    return rows - 1

In [6]:
#ans6
def sorted_squares(nums):
    result = []

    for num in nums:
        result.append(num * num)

    result.sort()

    return result

#Example
nums = [-4, -1, 0, 3, 10]

print(sorted_squares(nums))

[0, 1, 9, 16, 100]

In [7]:
#ans7
def max_count(m, n, ops):
    row_min = m
    col_min = n

    for op in ops:
        row_min = min(row_min, op[0])
        col_min = min(col_min, op[1])

    return row_min * col_min

#Example
m = 3
n = 3
ops = [[2, 2], [3, 3]]

print(max_count(m, n, ops))

4

In [8]:
#ans8
def shuffle(nums, n):
    x = nums[:n]
    y = nums[n:]

    result = []

    for i in range(n):
        result.append(x[i])
        result.append(y[i])

    return result

#Example
nums = [2, 5, 1, 3, 4, 7]
n = 3

print(shuffle(nums, n))

[2, 3, 5, 4, 1, 7]